/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7/11/2022, 6:40:24 p. m.
    Author     : USUARIO
*/
body{
    background-color: whitesmoke;
    font-weight: bold;
    color: red;
}
